<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farhan.prottoyon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Approved_Application_Activity"></activity>

        <activity android:name=".Approoved_Application.Warish_class"></activity>
        <activity android:name=".Approoved_Application.Activity_Approved_Application_details"></activity>
        <activity android:name=".Approoved_Application.App_Des_with_CommentBox"></activity>

        <activity android:name=".ApplicantDetailsActivity" />
        <activity android:name=".All_Item.Activity_Item6" />
        <activity android:name=".All_Item.Activity_Item5" />
        <activity android:name=".All_Item.Activity_Item4" />
        <activity android:name=".All_Item.Activity_Item3" />
        <activity android:name=".All_Item.Activity_Item1" />
        <activity android:name=".All_Item.Activity_item2" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>