<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farhan.prottoyon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Update"></activity>
        <activity android:name=".ItemLayouts.i6_TimeOverActivity" />
        <activity android:name=".ItemLayouts.i5_RenewApplicationActivity" />
        <activity android:name=".ItemLayouts.i2_Application_Details_Activity_2" />
        <activity android:name=".LenDen_Application_Details" />
        <activity android:name=".ItemLayouts.i4_Activity_Reject_Details" />
        <activity android:name=".Warish_class" />
        <activity android:name=".ItemLayouts.i1_Activity_Approved_Application_details" />
        <activity android:name=".App_Des_with_CommentBox" />
        <activity android:name=".ItemLayouts.i3_ApplicantDetailsActivity" />
        <activity android:name=".All_Item.Activity_Item6" />
        <activity android:name=".All_Item.Activity_Item5" />
        <activity android:name=".All_Item.Activity_Item4" />
        <activity android:name=".All_Item.Activity_Item3" />
        <activity android:name=".All_Item.Activity_Item1" />
        <activity android:name=".All_Item.Activity_item2" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>